html,
#root {
    height: 100%;
}

* {
    box-sizing: border-box;
}

body {
    font-family: "Trebuchet MS";
    margin: 0;
    height: 100%;
}

a {
    color: #aaaaaa;
    cursor: pointer;
    text-decoration: none;
}

a.active,
a:hover {
    color: black;
}

.inline-top {
    display: inline-block;
    vertical-align: top;
}

.inline-middle {
    display: inline-block;
    vertical-align: middle;
}

.inline-bottom {
    display: inline-block;
    vertical-align: bottom;
}

.align-center {
    text-align: center;
}

.align-right {
    text-align: right;
}

.theme-color {
    color: rgb(191, 87, 0);
}

.section-title {
    font-size: 30px;
    margin-bottom: 20px;
}

.general-container {
    padding-left: 10%;
    padding-right: 10%;
}

.common-border {
    border: solid 1px #d4d4d4;
    border-radius: 4px;
}